#toggle1{
    width:20rem;
    height: 30rem;
    /* align-self: flex-end;
    background-color: tan; */
    
}
.tgl-header,.material-icons.tgl-icn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem;
}
.primary-btn{
    position: relative;
    top:15rem;
    left:15rem;
}



li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    
}

#nav-ul{
    width:50rem;
    border:1px solid purple;
    margin:0 auto;
    background-color: blueviolet;
    display: flex;
    flex: row wrap;
    gap:1rem;
    align-items: center;
    padding:1rem;
}
.nav-below{
    border:1px solid purple;
    margin:0 auto;
    width:52rem;
    height:30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.simple-act ul{
    border:1px solid pink;
    margin-left: 0;
}
.material-icons.right-icn{
    width:1.5rem;
    background-color: tomato;
    border-radius: 50%;
    cursor: pointer;
    /* margin-left: 0 auto; */
}
.dialog{
    border:1px solid blue;
    margin: 2rem;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    width: 20rem;
}
#confirm-input{
    display: flex;
    flex-direction: column;
    margin: 4rem;
    
}
.box2-btm,#confirm-h1{
    border:1px solid blue;
    position: fixed;
}
#dialog-confirm{
    padding: 1rem;
    box-sizing: border-box;
    width: 20rem;
    border:1px solid blue;
    margin: 2rem;
}
li>i{
    margin-left:10rem;
}